 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: lightgray;
     margin: 50px auto;
     margin-bottom: 0;
     width: 800px;
 }

 .title {
     width: 180px;
     padding-top: 2px;
     height: 40px;
     border-radius: 16px 16px 0 0;
     border-left: 1px solid gray;
     border-right: 1px solid gray;
     border-top: 1px solid gray;
     background-color: #a0a0a0;
     z-index: -1;
     color: #fff;
     text-align: left;
 }






 .title h1 {
     margin-top: 0px;
     font-size: 16px;
     text-align: center;
 }



 .explanationClass {
     position: absolute;
     left: -1px;
     top: -1px;
     background-color: #c5cde6;
     width: 800px;
     display: flex;
 }

 #explanation {

     height: 32px;

     border: 1px solid gray;
     border-radius: 16px 16px 16px 16px;

 }

 #explanationActive {

     height: 440px;

     border: 1px solid gray;
     border-radius: 16px 16px 16px 16px;
 }


 .explanationOpen {
     width: 32px;
     height: 32px;
     border: 1px solid gray;
     border-radius: 16px;
     text-align: center;
     /* margin-left: auto; */
     margin-left: -1px;
     margin-top: -1px;
     box-sizing: content-box;
     cursor: pointer;

 }

 .explanationOpen p {
     font-size: 20px;
     font-weight: bold;
     line-height: 32px;
    margin-top: -4px;
    width: 32px;
 }

 .explanationText {
    margin-left: 4px;
    margin-right: 36px;
 }

 .explanationText h1 {
     font-size: 20px;
     font-weight: 100;
     transform: scale(1, .9);
     line-height: 32px;
     letter-spacing: 7px;
     
 }

 .explanationText p {
     display: none;
 }

 #explanationTextActive p {
     display: block;
     margin-bottom: 3px;
     font-size: 16px;
     letter-spacing: 2px;
 }


 input {
     font-size: 12px;
     text-indent: 10px;
     width: 50px;
     box-sizing: border-box;
     border-radius: 12px;
     border: 1px solid gray;
 }


 section {
     width: 800px;
     height: 750px;
     padding: 0px;
     border: 1px solid gray;
     border-radius: 16px;
     margin-top: -12px;
     z-index: 1;
     background-color: #e4e8ed;
     display: flex;
     justify-content: center;
     position: relative;
 }

 .construction {
     background-image: repeating-linear-gradient(45deg, yellow, yellow 30px, #000000 30px, #000000 60px);
     height: 28px;
     margin-top: 20px;
     padding-top: 0px;
 }

 .constructionText {
     background: yellow;
     width: fit-content;
     padding: 0 5px;
     font-size: 20px;
     line-height: 26px;
     margin: 0 auto;
     border-radius: 13px;
     font-weight: bold;
     border: 1px solid #000;

 }

 .canvas {
     margin: 50px auto 5px auto;
     height: 500px;
     display: flex;
     justify-content: center;
 }

 svg {
     border: 1px solid black;
 }

 .dotHr {
     border-top: 5px dotted white;
     margin: 35px -20px 15px -20px;
 }

 .solidHr {
     border-top: 2px solid white;
     margin-bottom: 8px;
 }

 /* button:not(.inputButton, .resetButton, .explanationOpen) */
 .uiPanel button{
     border: 1px solid gray;
     border-radius: 14px;
     height: inherit;
     width: calc(100% / 3);
     margin-left: auto;
     margin-right: 0;
     font-size: 16px;
 }

 .uiPanel {
     display: flex;
     gap: 10px;
     height: 48px;
 }

 .inputPanel {
     /* display: grid; */
     /* grid-template-columns: repeat(1, 1fr); */
     display: flex;
     justify-content: space-between;
     height: 54px;
     margin-bottom: 4px;
 }

 .panelInputArea {
     display: block;
 }

 .board,
 .stroke {
     display: flex;
     gap: 12px;
     height: 24px;
 }

 .board {
     margin-bottom: 6px;
 }

 label {
     font-size: 12px;
 }

 #selectColor {
     border: none;
     height: 24px;
     width: 52px;
     background-color: #e4e8ed;
     box-sizing: border-box;
 }



 .inputButton,
 .resetButton {
     height: 48px;
     width: 48px;
     margin-top: 2px;
     border-radius: 14px;
     border: 1px solid gray;
 }

 .resetButton {
     width: 60px;
 }


 Button:hover {
     color: red;
 }

 Button:disabled {
     color: lightgrey;
 }

 footer a {
     color: gray;
 }

 footer a:hover {
     color: red;
 }